* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.orejanologo {
  margin-left: calc(50% - 200px);
}

.orejanologo .parrafo {
  font-size: 70px;
  letter-spacing: 30px;
  margin-top: 100px;
  writing-mode: vertical-lr;
  color: white;
  position: absolute;
}

.orejanologo .caballo {
  width: 400px;
  position: absolute;
  border-color: black;
}

.ingreso {
  margin-left: 46%;
  margin-top: 40%;
  position: absolute;
}

.ingreso .boton {
  margin-left: 32%;
}