* {
  margin: 0;
  padding: 0;
}

.menubar .logo {
  margin-left: 1%;
  width: 50px;
  height: 50px;
}

.menubar .enlaces a {
  margin-left: 20px;
  padding: 0 10px;
  border: 1px solid rgb(165, 53, 53);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
  background-color: rgb(165, 53, 53);
}

.menubar .enlaces a:hover {
  color: rgb(192, 194, 115);
}

#principal-content .fondo {
  background-image: url(../images/logo.jpg);
  margin-left: 40%;
  margin-top: 5%;
}

.lista {
  list-style: circle;
  margin-top: 50px;
  margin-left: 10px;
  color: rgb(134, 60, 60);
  font-style: italic;
  font-weight: bold;
}

.redes img {
  width: 20px;
  height: 20px;
  margin-left: 500px;
  margin-top: 290px;
}

.pdf {
  margin: 50px;
  width: 95%;
  height: 1000px;
}

.qr {
  width: 400px;
  margin: 0 40%;
}

.productos img {
  margin-top: 27px;
  margin-left: 15px;
  width: 400px;
  height: 300px;
}

.principal-content .form {
  margin-top: 50px;
}

.form input {
  margin: 5px 0;
  margin-left: 5px;
}

.form .messageForm {
  margin-left: 5px;
  margin-top: 5px;
  width: 90%;
  height: 500px;
}

.form .formPlace input {
  width: 90%;
}

#principal-content p {
  border: 2px solid black;
  width: 320px;
}

#principal-content .messageContact{
  margin-left: 100px;
  margin-bottom: 20px;
}

#principal-content .messageContact p{
  width: 400px;
  margin-bottom: 20px;
}

#principal-content .logoContact {
  margin-right: 100%;

}

#principal-content .mapContact {
  margin-left: 60%;
}

#principal-content .mapContact p{
  margin: 10px 20%;
}

#principal-content .nosotrosContact {

  margin: 30px 0;
  margin-left: 300px;


}